html,body{
  overflow:hidden;
}
*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(farthest-corner at 40px 40px,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
}
.bar{
    height:12%;
    display: flex;
    align-items: center;
}
.name{
    cursor: pointer;
    color: #fefaee;
    font-size: 15px;
    flex: 1;
    background: linear-gradient(45deg, #858585, #e74c3c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
nav ul{
    flex:1;
    text-align: right;
    top:50%;
    left:50%;
    margin: 0;
    padding:0;
    display: flex;
    
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-left: 50px;
}
nav ul li a{
    text-decoration: none;
    color:#fefaee;
    font-size: 15px;
    position: relative;
}
nav ul li a:before{
   content:'';
   width:0px;
   height: 5px;
   background:rgb(169, 58, 58);
   position: absolute;
   top:100%;
   left:0;
   transition: 0.5s;
}
nav ul li:hover a:before{
    width:75%;
}
nav ul li a:hover{
    color:#aeadaa;
}

.about{
    display: flex;
    height: 90%;
    align-items:center;
    
    
}
.info{
flex-basis: 40%

}
h1{
    color:#fefaee;
    font-size: 50px;
    text-transform: uppercase;
    position: relative;
    animation: neon 2.0s ease-in-out infinite alternate;
  }
  
@keyframes neon {
0% {
      text-shadow: 0 0 10px #7a7a7a, 0 0 20px #7a7a7a, 0 0 30px #7a7a7a;
 }
100% {
      text-shadow: 0 0 10px rgb(169, 58, 58), 0 0 20px rgb(169, 58, 58), 0 0 30px rgb(169, 58, 58);
}
  }
p{
    color:#fefaee;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif
}
.info{
    flex-basis: 50%;
}
.card{
    width:200px;
    height:350px;
    border-radius: 15px;
    display: inline-block;
    background-image: radial-gradient(farthest-corner at 40px 40px,rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(rose.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid white;
}
.pie{
    height: 250px;
    width:250px;
    position: relative;
    padding-left: 200px;
}
.insta,.github,.snapchat,.linkedin{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient( #eaeaea , #9d9d9d);
    position: absolute;
    font-size:30px;
    
}
.insta{
    border-radius: 300px 15px 15px 15px;
    box-shadow :0px 0px 15px -2px #555 inset;
    transition: 0.3s ease;
    color: #cc39a4;
}
.linkedin{
    right: 0;
    border-radius: 15px 300px 15px 15px;
    box-shadow :0px 0px 15px -2px #555 inset;
    transition: 0.3s ease;
    color: #03a9fa;
}
.snapchat{
    bottom:0;
    border-radius: 15px 15px 15px 300px;
    box-shadow :0px 0px 15px -2px #555 inser;
    transition: 0.3s ease;
    color: #000;
}
.github{
    bottom:0;
    right: 0;
    border-radius: 15px 15px 300px 15px;
    box-shadow :0px 0px 15px -2px #555 inser;
    transition: 0.3s ease;
    color: #000;
}
.insta ion-icon{
    margin-top: 15px;
    margin-left: 15px;

}
.linkedin ion-icon{
    margin-top: 15px;
    margin-right: 15px;

}
.snapchat ion-icon{
    margin-bottom: 15px;
    margin-left: 15px;

}
.github ion-icon{
    margin-bottom: 15px;
    margin-right: 15px;

}
.insta:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background:#cc39a4;
    color: #fff;
}
.snapchat:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background:#FFFC00;
    color: #fff;
}
.linkedin:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background:#0072b1;
    color: #fff;
}
.github:hover{
    transform: scale(1.05);
    transition: 0.1s;
    background:#313131;
    color: #fff;
}